{%extends 'base.html'%}

{%block title%}
Random_exchange
{%endblock%}



{%block body%}
<div>

<!-- ---------------this is navbar--------------------------- -->
{% include 'components/navbar.html' %}

{% include 'components/messages.html' %}


<!-- -------------this is question section ------------------- -->
<div class="container justify-content-center col-lg-8">

<div class="list-group">

  {% if data %}
    {% for question in data%}
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{question.title}}</h5>
        <small>{{ (now - question.created_at).days }} days ago</small>
      </div>
      <p class="mb-1">{{ question.question | truncate(20) }}</p>
      <small>I will add vote functionality here but later</small>
    </a>
    {% endfor %}
  {% else %}
  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small>And some small print.</small>
  </a>
  {% endif %}

</div>

</div>

</div>

{%endblock%}
