{%extends 'base.html'%}

{%block title%}
Register
{%endblock%}



{%block body%}

{% include 'components/visitor_navbar.html' %}

<div class="container justify-content-center col-lg-6">
<form method="POST">
  {{form.hidden_tag()}}

  <div class="mb-3">
    {{form.username.label(class="form-label")}}
    {{form.username(class="form-control")}}
  </div>
  <div class="mb-3">
    {{form.password.label(class="form-label")}}
    {{form.password(class="form-control")}}
  </div>


  <div class="mb-3 form-check"><!--
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
    {{form.remember(class="form-check-input")}}
    {{form.remember.label(class="form-check-label")}}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{%endblock%}
