{%extends 'base.html'%}

{%block title%}
question - {{question.id}}
{%endblock%}



{%block body%}

{% include 'components/navbar.html' %}

<div class="container justify-content-center col-lg-8">

    <div class="card" style="background-color: #f5feff;">
        <div class="card-body">

        <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">By:  {{question.author.username}}</h6>
            <small>votes: {{question.votes|length}}</small>
            <small>{{ (now - question.created_at).days }} days ago</small>
        </div>
            <br>
            <h4 class="card-title">{{question.title}}</h4>
            <p class="card-text">{{question.question}}</p>
            <br>
            <div class="d-flex justify-content-between">
                <a href="{{url_for('main.home')}}" class="btn btn-primary btn-sm">Go Back</a>
                <a href="{{url_for('main.question_vote', id=question.id)}}" class="btn btn-primary btn-sm">   Vote   </a>
                <a href="{{url_for('main.answer', question_id=question.id)}}" class="btn btn-primary btn-sm">Answer</a>
            </div>
        </div>
    </div>

</div>



<!-- ------------this is answer section------------------------ -->

<div class="container justify-content-center col-lg-8">

    <div class="list-group">

    {% if answers %}
        {% for answer in answers%}
        <a href="{{url_for('main.answer_vote', id=answer.id)}}" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">By:  {{answer.author.username}}</h6>
                <small>{{ (now - answer.created_at).days }} days ago</small>
            </div>
            <div>
                <p class="mb-1">{{ answer.answer }}</p>
                <small>votes: {{answer.votes|length}}</small>
            </div>
        </a>
        {% endfor %}
    {% else %}
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">No Answer given for this question</h5>
        <small>3 days ago</small>
        </div>
        <p class="mb-1">If You want to answer. First Login</p>
        <small>vote: 0 </small>
    </a>
    {% endif %}

    </div>


    <!-- --------------Page Selection Widget------------------------ -->



  <nav class="pt-2" aria-label="Page navigation example">
    <ul class="pagination">
      {% for page in answers.iter_pages(left_edge=1, left_current=1, right_current=1, right_edge=1) %}
        {% if page %}
          {% if page == answers.page %}
            <li class="page-item active"><a class="page-link" href="{{url_for('main.question', page=page, id=question.id)}}">{{page}}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{url_for('main.question', page=page, id=question.id)}}">{{page}}</a></li>
          {% endif %}
        {% else %}
          <li class="page-item"><a class="page-link" href="#">...</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

</div>



{%endblock%}
