{%extends 'base.html'%}

{%block title%}
question - {{question.id}}
{%endblock%}



{%block body%}

{% include 'components/navbar.html' %}

<div class="container justify-content-center col-lg-8">

    <div class="card" style="background-color: #f5feff;">
        <div class="card-body">

        <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">By:  {{question.author.username}}</h6>
            <small>{{ (now - question.created_at).days }} days ago</small>
        </div>

            <h4 class="card-title">{{question.title}}</h4>
            <p class="card-text">{{question.question}}</p>
            <div class="d-flex justify-content-between">
                <a href="{{url_for('main.home')}}" class="btn btn-primary btn-sm">Go Back</a>
                <a href="#" class="btn btn-primary btn-sm">   Vote   </a>
                <a href="{{url_for('main.answer', question_id=question.id)}}" class="btn btn-primary btn-sm">Answer</a>
            </div>
        </div>
    </div>

</div>



<!-- ------------this is answer section------------------------ -->

<div class="container justify-content-center col-lg-8">

    <div class="list-group">

    {% if answers %}
        {% for answer in answers%}
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">By:  {{answer.author.username}}</h6>
                <small>{{ (now - answer.created_at).days }} days ago</small>
            </div>
            <div>
                <p class="mb-1">{{ answer.answer }}</p>
                <small>vote: 0</small>
            </div>
        </a>
        {% endfor %}
    {% else %}
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">No Answer given for this question</h5>
        <small>3 days ago</small>
        </div>
        <p class="mb-1">If You want to answer. First Login</p>
        <small>vote: 0 </small>
    </a>
    {% endif %}

    </div>

</div>



{%endblock%}
